
/* -------  all links  ------- */
a {
  color:#121212;
  font-weight:500;
  position:relative;
  line-height:1.1;
}

a::after {
  content:'';
  display:block;
  height:2px;
  background:#121212;
  opacity:0;
  position:absolute;
  left:0;right:0;
  transition:opacity 0.33s;
}

/* -------  link - hover  ------- */
a:hover::after {
  opacity:1;
}

strong {
  font-weight:500;
}

/* -------  app container  ------- */
.appContainer {
  height:100%;
  display:flex;
  align-items:center;
  flex-direction:column;
}
.homeContainer {
  height:100%;
}

/* -------  header container  ------- */
.headerContainer {
  width:100%;
  padding:2em 0;
  border-bottom:2px solid #121212;
}

/* -------  header  ------- */
.headerLink {
  display:inline-block;
  margin-left:3.33%;
  font-size:2.6em;
  padding:0.2%;
}

.headerLink::after {
  height:3px;
}

/* -------  main container  ------- */
.mainContainer {
  width:96%;
  height:100%;
  display:flex;
  flex-direction:column;
}

main {
  display:flex;
  flex:1;
  align-items:center;
  flex-direction:column;
  justify-content:space-between;
}


.searchContainer div {
  margin:0 1.6em;
}

.searchContainer {
  height:25%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
}
.inputContainer {
  width:50%;
  background:#fff;
  position:relative;
  display:flex;
  align-items:center;
  min-width:225px;
  max-width:425px;
}
.icon {
  font-size:1.33em;
  padding:0 1em;
  color:#121212;
}
.search {
  height:4em;
  width:100%;
}
.buttonContainer {

}
.button {
  background:inherit;
  border:1px solid #070707;
  font-size:2em;
  line-height:1;
  padding:0 0.8em 2px 0.8em;
  transition:0.22s color,0.22s background,0.22s box-shadow;
}
.button:hover, .button:focus {
  cursor:pointer;
  color:#f5f5f5;
  background:#070707;
  outline:0;
  box-shadow: inset 0 0 0 0.125em #f5f5f5;
}
a.focus { outline:0 }
.inputContainer .bar {
  display:block;
  height:2px;width:0;
  position:absolute;
  bottom:0;left:0;right:0;
  margin:0 auto;
  opacity:0;
  background:#121212;
  transition:opacity 0.22s, width 0.22s;
}
.search:focus ~ .bar {
  width:100%;
  opacity:1;
}
::-webkit-input-placeholder { color:#6d6d6d }
::-moz-placeholder { color:#6d6d6d }
:-ms-input-placeholder { color:#6d6d6d }
:-moz-placeholder { color:#6d6d6d }
/* Place Holder CSS */
::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {
  opacity: 0.75;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}


.graphContainer {
  text-align:center;
  margin:0 auto;
}
.graphContainer svg .axis {
  font-size:12px;
}


.infoContainer {
  margin-bottom:7.25%;
  line-height:1;
}






















.otherContainer {
  height:20em;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* -------  svg container  ------- */
.svgContainer {
  position:relative;
  width:90px;
  margin:0 auto;
}
 /* -------  svg container - ::after  ------- */
.svgContainer::before {
  content:'';
  display:block;
  padding-top:100%;
}
/* -------  svg  ------- */
.svg {
  width:100%;
  height:100%;
  position:absolute;
  top:0;bottom:0;left:0;right:0;
  margin:auto;
  transform-origin:center center;
  animation:rotate 2s linear infinite;
 }
 /* -------  citcle  ------- */
.circle {
  stroke:#070707;
  stroke-dasharray:1,200;
  stroke-dashoffset:0;
  stroke-linecap:round;
  animation:dash 1.5s ease-in-out infinite;
}
/* -------  keyframes - rotate  ------- */
@keyframes rotate {
  100% { transform:rotate(360deg) }
}
/* -------  keyframes - dash  ------- */
@keyframes dash {
  0% {
    stroke-dasharray:1,200;
    stroke-dashoffset:0;
  }
  50% {
    stroke-dasharray:89,200;
    stroke-dashoffset:-35px;
  }
  100% {
    stroke-dasharray:89,200;
    stroke-dashoffset:-124px;
  }
}
